
div {
    display: block;
}

body {
    background-color: #23252C;
    font-family: 'Inter', sans-serif;
}

.container {
    
    width: 30%; 
    min-width: 350px;
    margin: 53px auto;
    background: #000000;
    border: 2px solid rgb(177, 177, 177);
    border-radius: 12px;
    padding: 5px;
    
}

div {
    display: block;
}

.top {
    width: 90%;
    width: 317px;
    margin: 35px auto;
    border-radius: 10px;
    background-color: #161619;
    text-align: center;
    
}



.card {
    width: 100%;
    height: 280px;
    padding-bottom: 100px;
    background-image: url(https://raw.githubusercontent.com/farazbagher/assignment.github.io/main/a.JPG);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 0;
    
    
}



blockquote{
    color:rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 30px;
    font-size: 11px;
}

t{
    text-align: center;
    align-items: center;
    color:white;
    font-size: 11px;
    padding: 13px 30px;
    
}


h5{
    
    color:rgb(162, 125, 49);
    font-size: 15px;
    text-align: center;
    
    
}

h6{
    
    color:rgb(255, 255, 255);
    font-size: 11px;
    font-weight: 100;
    text-align: center;
    
    
}
h1{
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 20px;
    align-items: center;

}

p{

    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 20px;
    align-items: center;

    
   

}


h2, h3{

    margin-left: 25px;
    color:rgb(255, 255, 255);
    font-size: medium;
    margin-bottom: 20px;
    align-items: center;


}

.content {
    width: 99%;
    margin: 0 auto 10px;
    background-color: #000000;
    padding-top: 21px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}


.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin-bottom:1px;
}

button {

    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.contact--link:nth-child(1) {
    background-color: white;
    border: 1px solid #D1D5DB;
    color: #374151;
}

.contact--link {
    width: 115px;
    height: 35px;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 5%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}


.contact--link--icon {
    width: 1rem;
    height: 1rem;
    margin-bottom: 100px;
    margin-right: 60%;
}

.contact--link--text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-right: 50px;
}

.contact--link:nth-child(2) {
    background-color: #5093E2;
    border: 1px solid #3787e2;
    color: #FFFFFF;
}





.footer {
    margin-bottom: 5px;
    display: block;
    padding-top: 2px;
    background-color: #414247;
    
}


.flex-container1 {
    border: 2px;
    border-radius: 12px;
    padding: 10px;
    color: #23252C;
    background-color: #414247;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    margin: auto;
    
  }
  
  i {
    width: 20px;
    margin: 50px;
    height: 50px;
  }

b{

    width: 30px;
    height: auto;
    margin-left: 20px;
    margin-right: 30px;
    padding: 1px;

}
  
  

