

BODY {
    margin: 20px 0px 20px 0px;
    background-color:black;
    font-family: arial;
    font-size: 12pt;
}

.container {
    width: 30%;
    width: 550px; 
    height: 868px; 
    min-width: 350px;
    margin: 53px auto;
    background: #23252C;
}

.card {
    
    width: 350px;
    margin: 35px auto;
    border: 1px solid #ababab;
    border-radius: 10px;
    background-color: #161619;
    text-align: center;
}



.top {
    width: 100%;
    background-image: url(https://raw.githubusercontent.com/farazbagher/assignment.github.io/main/a.JPG);
    height: 190px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 0;
    text-align: center;
    
}


.background-image {

    margin: center;
    width: 100px;


}

h1, p{

    
    text-align: center;
    color:bisque;

}

p2{

    text-align: center;
    color: bisque;
    margin-bottom: 50px;
}

.content{

    text-align: center;
    color: bisque;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }