.pageHeader {
    background-color:black;
    float: left;
    clear: none;
    min-height: 150px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}
.pageLeftPanel {
    background-color: black;
    float: left;
    clear: none;
    min-height: 600px;
    width: 200px;
    box-sizing: border-box;
    padding: 10px;
}
.pageContent {
    background-color: #FFFFFF;
    margin-left: 100px;
    float: left;
    clear: none;
    min-height: 600px;
    width: 600px;
    box-sizing: border-box;
    padding: 10px;
}
.pageRightPanel {
    background-color: black;
    float: right;
    clear: none;
    min-height: 600px;
    width: 200px;
    box-sizing: border-box;
    padding: 10px;
}
.pageFooter {
    background-color: black;
    float: left;
    clear: none;
    min-height: 50px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}

div {
    display: block;
}

BODY {
    margin: 20px 0px 20px 0px;
    background-color:black;
    font-family: arial;
    font-size: 12pt;
}

